@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <SBrouter>
                <Route Template="/">
                    <HomePage CountValue="@countValue"></HomePage>
                </Route>
                <Route Template="/counter">
                    <CounterPage @bind-CurrentCount="countValue" ChangeCount="@ChangeCountValue" />
                </Route>
                <Route Template="/counter/{init:int}">
                    <CounterPage @bind-CurrentCount="countValue" ChangeCount="@ChangeCountValue" />
                </Route>
                <Route Template="/counter/multi/{id:int:long}/{age:long:decimal:double}/{name}">
                    <CounterPage />
                </Route>
                <Route Template="/fetchdata">
                    <FetchDataPage />
                </Route>
                <Route Template="/*/test">
                    <p>Test page</p>
                </Route>
                <Route Template="/nested-route/{id:int}/*">
                    <SBrouter>
                        <Route Template="/nested-route/{id:int}">
                            <FetchDataPage Value="1" />
                        </Route>
                        <Route Template="/nested-route/{id:int}/hello">
                            <FetchDataPage Value="2" />
                        </Route>
                        <Route Template="/nested-route/{id:int}/world">
                            <FetchDataPage Value="3" />
                        </Route>
                        <Route>
                            <h1 class="text-danger">Error</h1>
                            <p>Nested: Sorry, there's nothing at this address.</p>
                        </Route>
                    </SBrouter>
                </Route>
                <Route>
                    <h1 class="text-danger">Error</h1>
                    <p>Sorry, there's nothing at this address.</p>
                </Route>
            </SBrouter>
        </div>
    </div>
</div>


@code {
    private int countValue { get; set; } = 0;

    void ChangeCountValue(int value)
    {
        countValue = value;
        this.StateHasChanged();
    }
}