@inherits LayoutComponentBase
@using Brouter.Demo.Pages

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <MsynkBrouter>
                <Route Path="/">
                    <Home CountValue="@countValue"></Home>
                </Route>
                <Route Path="/counter">
                    <Counter @bind-CurrentCount="countValue" ChangeCount="@ChangeCountValue"></Counter>
                </Route>
                <Route Path="/counter/{init:int}">
                    <Counter @bind-CurrentCount="countValue" ChangeCount="@ChangeCountValue"></Counter>
                </Route>
                <Route Path="/counter/multi/{id:int:long}/{age:long:decimal:double}/{name}">
                    <Counter />
                </Route>
                <Route Path="/fetchdata">
                    <FetchData />
                </Route>
                <Route Path="/*/test">
                    <p>Test page</p>
                </Route>
                <Route Path="/nested-route/{id:int}/*">
                    <MsynkBrouter>
                        <Route Path="/nested-route/{id:int}">
                            <FetchData Value="1" />
                        </Route>
                        <Route Path="/nested-route/{id:int}/hello">
                            <FetchData Value="2" />
                        </Route>
                        <Route Path="/nested-route/{id:int}/world">
                            <FetchData Value="3" />
                        </Route>
                        <Route>
                            <h1 class="text-danger">Error</h1>
                            <p>Nested: Sorry, there's nothing at this address.</p>
                        </Route>
                    </MsynkBrouter>
                </Route>
                <Route>
                    <h1 class="text-danger">Error</h1>
                    <p>Sorry, there's nothing at this address.</p>
                </Route>
            </MsynkBrouter>
        </div>
    </div>
</div>


@code {
    private int countValue { get; set; } = 0;

    void ChangeCountValue(int value)
    {
        countValue = value;
        this.StateHasChanged();
    }
}